* {
  box-sizing: border-box;
}

body {
  /* a nice font that uses a user's built in font */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  color: #333;
  margin: 0;
  padding: 0;
}

.navbar {
  border-bottom: 2px solid #333;
  padding: 15px;
  text-align: center;
  margin-bottom: 0;
}

.brand {
  font-size: 30px;
}

.scoreboard {
  max-width: 295px;
  width: 100%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 5px;
}

.scoreboard-letter {
  height: 45px;
  width: 45px;
  font-size: 30px;
  text-transform: uppercase;
  border: 3px solid #ccc;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.correct {
  background-color: darkgreen;
  color: white;
}

.close {
  background-color: goldenrod;
  color: white;
}

.wrong {
  background-color: #888;
  color: white; 
}

.invalid {
  animation: flash 1s;
}

/* flashes red border and then fades back to gray */
@keyframes flash {
  5% {
    border-color: crimson;
  }

  100% {
    border-color: #ccc;
  }
}

.spiral {
  font-size: 40px;
  animation: spin 1.5s linear infinite;
}

/* rotates clockwise indefinitely */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* visibility hidden means the item is still there and taking up space
   but just not shown. display: none doesn't take up space */
.hidden {
  visibility: hidden;
}

.info-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding: 0 8px;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.key-row {
  display: flex;
  width: 100%;
  margin-bottom: 8px;
  justify-content: center;
  touch-action: manipulation;
}

.key {
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 3px;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background-color: #d3d6da;
  color: black;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.key-big {
  flex: 1.5;
  font-size: 12px;
}

.key:active {
  background-color: #bbb;
}

.key.correct {
  background-color: darkgreen;
  color: white;
}

.key.close {
  background-color: goldenrod;
  color: white;
}

.key.wrong {
  background-color: #787c7e;
  color: white;
}


/* winner animation */

@keyframes rainbow {
  100%,
  0% {
    color: rgb(255, 0, 0);
  }
  8% {
    color: rgb(255, 127, 0);
  }
  16% {
    color: rgb(255, 255, 0);
  }
  25% {
    color: rgb(127, 255, 0);
  }
  33% {
    color: rgb(0, 255, 0);
  }
  41% {
    color: rgb(0, 255, 127);
  }
  50% {
    color: rgb(0, 255, 255);
  }
  58% {
    color: rgb(0, 127, 255);
  }
  66% {
    color: rgb(0, 0, 255);
  }
  75% {
    color: rgb(127, 0, 255);
  }
  83% {
    color: rgb(255, 0, 255);
  }
  91% {
    color: rgb(255, 0, 127);
  }
}

.winner {
  animation: rainbow 4s infinite linear;
}